@import "tailwindcss";

:root {
  --background: #0B0E26;
  --foreground: #ffffff;
  --textdarkblue: #A2A6C5;
  --textOrange: #FF7B42;
}

.dark {
  --background: #ffffff;
  --foreground: #171717;
  --textdarkblue: #05073C;
  --textOrange: #EB662B;
}




@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textdarkblue: var(--textdarkblue);
  --color-textOrange: var(--textOrange);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.heroSection{
  background: url('../public/assets/img/hero_section_img.svg');
  /* background: url('@/public/assests/img/hero_section_img.svg'); */
}